@model IEnumerable<DentistBooking.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["SearchString"]" />
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
                <th>
                   <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">Full Name</a>
                </th>
                <th>
                   <a asp-action="Index" asp-route-sortOrder="@ViewData["PhoneSortParam"]">@Html.DisplayNameFor(model => model.Phone)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]">@Html.DisplayNameFor(model => model.ReservationTime)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Medic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procedure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procedure.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
